{% extends 'index.html' %}
{% load static %}
{% block title %}
    Listado de Clientes
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}


{% block creacion%}

<div class="col-md-4 pt-4">
    <button type="button" class="btn btn-success" class="col" onclick="abrir_modal_creacion('{% url 'cliente:crear_cliente' %}');"> REGISTRAR CLIENTE</button>
</div>

{% endblock creacion%}

{% block body %}


        <table  id = "tabla_cliente" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Completo</th>
                    <th>Fecha Nacimiento</th>
                    <th>Edad</th>
                    <th>Nacionalidad</th>
                    <th>Dirección</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Tipo Persona</th>
                    <th>Nombre Banco</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>


    <div class="modal fade" id="creacion" role="dialog">

    </div>


    <div class="modal fade" id="edicion" role="dialog">

    </div>

    <div class="modal fade" id="eliminacion" role="dialog">

    </div>


{% endblock body %}

{% block extrajs %}

<script src="{% static 'js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/cliente/index.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock extrajs %}
